<table>
    <thead>
      <tr>
        <th colspan="7"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
           <input type ="text" [(ngModel)]="name"  >

        </td>
        <td></td>
        <td>{{ name }}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="example-form">
            ssad
            <mat-form-field class="example-full-width">
                <input type="text" [(ngModel)] = "selected"
                       placeholder="Pick one"
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        
        </td>
        <td>
            {{selected}}
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    </table>