<table>
    <thead>
      <tr>
        <th colspan="7"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
           <input type ="text" [(ngModel)]="name">

        </td>
        <td></td>
        <td>{{ name }}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="example-form">
            ssad          
        </td>
        <td>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
          vxvx
          <mat-auto-dropdown [values]="options" (dropdownchange) ="dropdownchangeevent($event)"></mat-auto-dropdown></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    </table>