<table>
    <thead>
      <tr>
        <th colspan="7"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
           <input type ="text" [(ngModel)]="name">

        </td>
        <td></td>
        <td>{{ name }}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>
            Segements        
        </td>
        <td>
          <mat-dropdown [values]="stockSegements" (dropdownchange) ="segementsChanged($event)"  ></mat-dropdown>
        </td>
        <td>Price Range</td>
        <td>
          <mat-dropdown [values]="priceRanges" (dropdownchange) ="segementsChanged($event)"  ></mat-dropdown>
        </td>
        <td>Sector</td>
        <td>
          <mat-auto-dropdown [values]="sectors" (dropdownchange) ="sectorsChanged($event)"></mat-auto-dropdown>
        </td>
        <td></td>
      </tr>
      <tr>
        <td colspan="7">
          vxvx
         
        
        </td>
        
      </tr>
    </tbody>
    </table>