<p>This is a watchlist page</p>

<div class="container">
    <br>

    <div id="borderDemo" >
        <div>Add New WatchList</div>
    <div class="row">
        <input *ngIf="isEditItems" [(ngModel)]="NewWatchListName" class="form-control" type="text" >
        <button *ngIf="!isEditItems"  type="button" (click)="addFieldValue()" style="margin-right:10px">Add WatchList</button>
        <button *ngIf="isEditItems" type="button" (click)="SaveFieldValue()" style="margin-right:10px">Save WatchList</button>
    </div>

    <div>
        <table>
            <tr *ngFor="let field of fieldArray; let i = index">
                <td>
                    {{field}}
                </td>
            </tr>
        </table>
    </div>
</div>
</div>