<div >
    <ag-grid-angular style="width: 100%; height: 250px"   
                     class="ag-theme-alpine"
                     rowSelection="multiple"
                     suppressRowClickSelection                     
                     [autoGroupColumnDef]="AutoGroupColumnDef"
                     [rowData]="gridData"
                     [columnDefs]="Columns"
                     (cellValueChanged)="onCellValueChanged($event)"
                     (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <div>
    <button (click)="deleteSelectedRows()" [disabled]="!rowsSelected()">
            Delete Selected Row
    </button>
</div>